In [1]:
import sqlite3
import pandas as pd

In [2]:
db = sqlite3.connect('Hop_Teaming_2018.sqlite')

In [24]:
query = '''
SELECT *
FROM nppes as n
JOIN zip_cbsa as zip
ON n.provider_business_practice_location_address_postal_code = zip.zip
LIMIT 5;
'''

In [21]:
query = '''
SELECT *
FROM nppes 
LIMIT 5;
'''

In [25]:
with sqlite3.connect('Hop_Teaming_2018.sqlite') as db: 
    Nashville_sqlite = pd.read_sql(query, db)

In [26]:
Nashville_sqlite

,npi,entity_type_code,provider_organization_name_(legal_business_name),provider_last_name_(legal_name),provider_first_name,provider_middle_name,provider_name_prefix_text,provider_name_suffix_text,provider_credential_text,provider_first_line_business_practice_location_address,...,provider_business_practice_location_address_postal_code,primary_taxonomy,zip,cbsa,usps_zip_pref_city,usps_zip_pref_state,res_ratio,bus_ratio,oth_ratio,tot_ratio
0,1861495749,1.0,None,NASH,FRANK,M,None,None,CRNA,615 FAIRHURST ST,...,80751,367500000X,80751,44540,STERLING,CO,1.000000,1.000000,1.000000,1.000000
1,1164425039,1.0,None,LEMCHEN,LAWRENCE,ARNOLD,MR.,None,R.PH.,5001 126TH AVE SE,...,98006,1835P1200X,98006,42660,BELLEVUE,WA,1.000000,1.000000,1.000000,1.000000
2,1982607859,1.0,None,GIST,RAYMOND,F,DR.,None,DDS,4170 LENNON RD,...,48507,1223G0001X,48507,22420,FLINT,MI,1.000000,1.000000,1.000000,1.000000
3,1528061496,1.0,None,BRODY,HOWARD,None,DR.,None,M.D.,138 SERVICE RD,...,48824,207Q00000X,48824,29620,EAST LANSING,MI,1.000000,1.000000,1.000000,1.000000
4,1235132101,1.0,None,SCHENCK,DAVID,None,None,None,MD,700 MEDICAL BLVD,...,34223,207P00000X,34223,39460,ENGLEWOOD,FL,0.223856,0.316532,0.455738,0.241599

query = '''
SELECT *
FROM Hop_Teaming_2018
JOIN nppes n1
ON Hop_Teaming_2018.to_npi = n1.npi
WHERE n1.entity_type_code = 1
    AND n1.provider_business_practice_location_address_city_name = 'NASHVILLE'
    AND n1.provider_business_practice_location_address_state_name = 'TN'
    AND n1.entity_type_code = 2
LIMIT 5;
'''