In [1]:
import pandas as pd

In [9]:
# chunks = pd.read_csv('../data/DocGraph_Hop_Teaming_2018.csv', chunksize = 10000)

# next(chunks)

# has columns - from_npi, to_npi, patient_count, transaction_count, average_day_wait, std_day_wait

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait
0,1508062167,1730166109,350,370,53.922,72.612
1,1508065640,1730166109,25,25,49.800,55.006
2,1508052093,1730166109,16,16,109.500,70.593
3,1508172545,1730166109,14,14,103.357,75.483
4,1508285131,1730166109,20,21,89.952,89.880
...,...,...,...,...,...,...
9995,1508026980,1730477589,36,46,64.239,77.845
9996,1497997050,1730477589,38,43,40.395,60.289
9997,1497977268,1730477761,14,14,37.857,72.533
9998,1508024217,1730477811,12,12,59.000,46.043
9999,1508805722,1730477811,26,26,117.500,82.087

In [10]:
chunks = pd.read_csv('../data/npidata_pfile_20050523-20230212.csv', chunksize = 10000)

In [21]:
test_chunk = next(chunks)

/var/folders/3t/x8rz35tn765cm0bkf_n4ydlh0000gn/T/ipykernel_17471/1718686183.py:1: DtypeWarning: Columns (32,60,64,67,68,69,70,71,72,73,74,75,76,77,78,79,81,82,83,85,86,87,89,90,91,93,94,151,155,159,161,162,163,165,166,167,169,170,174,314) have mixed types. Specify dtype option on import or set low_memory=False.
  test_chunk = next(chunks)

In [ ]:
# below code allows to see all columns; if you want to display less, replace None with n_columns to display, e.g. 10
pd.set_option('display.max_columns', None)

In [29]:
test_chunk[[
    'NPI',
    'Entity Type Code',
    'Provider Organization Name (Legal Business Name)',
    'Provider Last Name (Legal Name)',
    'Provider First Name',
    'Provider Middle Name',
    'Provider Name Prefix Text',
    'Provider Name Suffix Text',
    'Provider Credential Text',
    'Provider First Line Business Practice Location Address',
    'Provider Second Line Business Practice Location Address',
    'Provider Business Practice Location Address City Name',
    'Provider Business Practice Location Address State Name',
    'Provider Business Practice Location Address Postal Code']]

,NPI,Entity Type Code,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,Provider Credential Text,Provider First Line Business Practice Location Address,Provider Second Line Business Practice Location Address,Provider Business Practice Location Address City Name,Provider Business Practice Location Address State Name,Provider Business Practice Location Address Postal Code
10000,1215936463,1,NaN,CAPPIELLO,ENRICO,J,DR.,NaN,M.D.,200 NEW HOPE RD,QUAIL VALLEY MEDICAL CENTER SUITE 7,PRINCETON,WV,247402155
10001,1588663736,1,NaN,CORLEY,REBECCA,S,NaN,NaN,MD,777 N 5TH AVE,SUITE 103,SEQUIM,WA,983823080
10002,1376542530,1,NaN,BAYLESS,ALVIN,KENT,DR.,NaN,DDS,1117 E PLEASANT RUN RD,NaN,DESOTO,TX,751154201
10003,1730188087,1,NaN,GORBACK,MICHAEL,SCOTT,DR.,NaN,M.D.,17099 TEXAS AVE,300,WEBSTER,TX,775984069
10004,1649279993,1,NaN,BENNETT,CAROL,S.,NaN,NaN,P.T.,7601 W JEFFERSON BLVD,NaN,FORT WAYNE,IN,468044133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1669467890,1,NaN,CORWIN,MARTIN,E,DR.,NaN,MD,46 EAGLE ROCK AVE,NaN,EAST HANOVER,NJ,79363104
19996,1578558706,1,NaN,FLEMING,MEI,LEE,NaN,NaN,OD,3201 DANVILLE BLVD,SUITE 165,ALAMO,CA,945071938
19997,1548255771,1,NaN,FOSTER,HELEN,MONTAGUE,DR.,NaN,MD,2004 BREMO RD,SUITE 106,RICHMOND,VA,232262442
19998,1992790125,1,NaN,BLUMENTHAL,DAVID,NaN,NaN,NaN,M.D.,550 1ST AVE,RUSK 607,NEW YORK,NY,100166402
19999,1558356717,1,NaN,RUNNINGS,STEVEN,P,DR.,NaN,D.D.S.,4590 LOWELL BLVD,NaN,DENVER,CO,802111364

In [ ]:
potato_df